header{
  height: 75px;
  background-color: teal;
}

#b{
  height: 150px;
  background-color: white;
}

#c, #d{
  height: 125px;
}

#c{
  background-color: gold;
}

#d{
  background-color: red;
}

#e-h{
  height: 500px;
  float: left;
  flex-wrap: wrap;
  margin: auto;
}

#e{
  background-color: green;
}

#f{
  background-color: blue;
}

#g{
  background-color: orange;
}

#h{
  background-color: purple;
}

.grid-box{
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

#i{
  height: 80px;
  background-color: gray;
}

@media(min-width: 768px){
  header{
    background-color: red;
  }
  
  main{
    float: left;
    width: 100%;
  }

  #b{
    width: 22%;
    height: 600px;
    margin: 0;
    float: left;
    background-color: gold;
  }

  #c, #d{
    width: 39%;
    height: 200px;
    float: left;
  }
  
  #c{
    background-color: white;
  }
  
  #d{
    background-color: teal;
  }
  
  #e-h{
    width: 78%;
    height: 250px;
    float: left;
  }

  #e{
    background-color: blue;
  }
  
  #f{
    background-color: green;
  }
  
  #g{
    background-color: purple;
  }
  
  #h{
    background-color: orange;
  }

  .grid-box{
    width: 25%;
    height: 100%;
  }

  #i{
    width: 78%;
    height: 150px;
    float: left;
    background-color: brown;
  }
}